module1_task0/dist/404.html
module1_task0/dist/index.xml
module1_task0/dist/sitemap.xml
module1_task0/dist/ananke/css/main.css.map
module1_task0/dist/ananke/css/main.min.css
module1_task0/dist/categories/index.html
module1_task0/dist/categories/index.xml
module1_task0/dist/images/gohugo-default-sample-hero-image.jpg
module1_task0/dist/posts/index.html
module1_task0/dist/posts/index.xml
module1_task0/dist/posts/page/1/index.html
module1_task0/dist/posts/welcome/index.html
module1_task0/dist/tags/index.html
module1_task0/dist/tags/index.xml
